In [49]:
import os
import pandas as pd

In [50]:
# set working directory
os.chdir("/home/levinson/Documents/VJTI/DM/Data Science/data_cleaning/archive")
os.listdir()

['.vscode', 'Untitled-1.ipynb', 'test.csv', 'train.csv']

In [51]:
df = pd.read_csv("test.csv")
df.head()

,id,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,1,maruti swift dzire,2012,petrol,69029,364299,pune,2068,sedan,manual,...,3,363529,365029.0,great,2021-03-16T05:00:49.555,True,8462,54645,False,False
1,2,hyundai eon,2013,petrol,45721,216799,gurgaon,903,hatchback,manual,...,1,205738,NaN,great,2021-03-10T12:08:11.905,True,5036,32520,False,False
2,3,honda amaze,2013,diesel,37395,387399,pune,2809,sedan,manual,...,1,382667,NaN,great,2021-03-15T12:03:30.041,True,8998,58110,True,False
3,4,hyundai i20,2012,petrol,37652,364699,bengaluru,1054,hatchback,manual,...,3,335740,NaN,great,2021-04-09T11:16:26.157,True,8471,54705,True,False
4,5,hyundai creta,2017,diesel,53648,1082011,lucknow,2927,suv,automatic,...,1,1119840,1125840.0,great,2021-04-01T07:24:31.712,True,25132,162302,False,False

In [52]:
# Set index as something meaningful like the ids

df['id'].is_unique
df = df.set_index('id')

# df.head()

# now we can access a row by using df.loc[] 

df.loc[7]

car_name                           hyundai i10
yr_mfr                                    2010
fuel_type                               petrol
kms_run                                  59295
sale_price                              286399
city                                   chennai
times_viewed                               506
body_type                            hatchback
transmission                            manual
variant                      sportz 1.2 kappa2
assured_buy                               True
registered_city                        chennai
registered_state                    tamil nadu
is_hot                                    True
rto                                       tn07
source                           inperson_sale
make                                   hyundai
model                                      i10
car_availability                      in_stock
total_owners                                 2
broker_quote                            255175
original_price                        286499.0
car_rating                                good
ad_created_on          2021-04-07T05:42:09.856
fitness_certificate                       True
emi_starts_from                           6652
booking_down_pymnt                       42960
reserved                                 False
warranty_avail                           False
Name: 7, dtype: object

# Next thing I want to do is look at duplicate or unwanted columns and drop them which will reduce not only file size but also make it easy to find the data we actually need and correct if necessary further

In [53]:
# Identify duplicate or unwanted data

In [ ]:
# specify correct datatype to columns for better performance when searching

In [54]:
# identify columns with missing data
for i in df.columns:
    if df[i].isna().sum() > 0:
        print(i)

body_type
transmission
registered_city
registered_state
source
car_availability
original_price
car_rating

In [55]:
df['body_type'].head()

id
1        sedan
2    hatchback
3        sedan
4    hatchback
5          suv
Name: body_type, dtype: object